# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env
.env*.local
.env.development
.env.production

# typescript
*.tsbuildinfo

# build artifacts
android/
ios/
*.apk
*.apks
*.aab
build/

# IDE / Editor
.vscode/
.idea/
*.iml

# Test coverage
coverage/
jest-coverage/

# Cache
.cache/
babel.config.js.map

# Example apps or configs
app-example/
